<h1> Create a new post </h1>

<form method='post' action='/posts'>
  <input type="text" name="post[title]" placeholder="Title"><br><br>
  <textarea rows="4" cols="50" name="post[content]" placeholder="Write your post here"></textarea><br><br>
  <input type="text" name="tags" placeholder="Tags"><br><br>
  <input type="hidden" name="post[user_id]" value="<%=current_user.id%>">
  <input type="submit" value="Create Post">
</form>
